In [10]:
import pandas as pd
df = pd.DataFrame([  
            ['green' , 'A'],   
            ['red'   , 'B'],   
            ['blue'  , 'A']])  

df.columns = ['color',  'class'] 
print(df)
pd.get_dummies(df)

   color class
0  green     A
1    red     B
2   blue     A

   color_blue  color_green  color_red  class_A  class_B
0           0            1          0        1        0
1           0            0          1        0        1
2           1            0          0        1        0

In [2]:
df = pd.get_dummies(df)

In [5]:
#对指定的列实现noe hot encode
pd.get_dummies(df.color)

   blue  green  red
0     0      1    0
1     0      0    1
2     1      0    0

In [11]:
#将制定列one hot encode之后合并到原来的数据框
df = df.join(pd.get_dummies(df.color))
print(df)

   color class  blue  green  red
0  green     A     0      1    0
1    red     B     0      0    1
2   blue     A     1      0    0